*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,  #ffffff,#ddc9c9);
}
.contenedor-grid {
    margin: 0 auto;
    padding: 0 20px;
}
header {
    padding: 20px 0;
}
.centrar{
    text-align: center;
}
.logo {
    height: 40px;
    width: auto;
}
li{
    display: inline;
    margin: 0 10px;
}
a{
    text-decoration: none;
    color: #333;
}
.producto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.imgproducto{
    max-height: 100px;
    width: auto;
}
.catalogo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}
.destacado{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.textp{
    font-weight: normal;
}
footer {
    text-align: center;
    padding: 1rem;
    text-align: center;
}
.logosfoot{
    height: 20px;
    width: auto;
}
footer p {
    margin: 5px 0;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-toggle {
    display: none;
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .menu.open {
        display: flex; /* Muestra el menú cuando se abre */
        flex-direction:row; /* Coloca los elementos del menú en una columna */
    }
}
